[Unit]
Description=平日8:53にエンジンを起動

[Timer]
OnCalendar=Mon..Fri 08:53
# サーバーが止まっていて時刻を逃した場合、起動後に実行する
Persistent=true

[Install]
WantedBy=timers.target
